<div class="container">
    <div class="form-container">
      <h1>Rental Details</h1>
      <br>
      <form>
        <input type="text" id="totalItemCost" placeholder="TotalItemCost" required>
        <input type="text" id="quantity" placeholder="Quantity" required>
       
        <br><br>
        

        <div class="button-container">
          <button type="button">Add</button>
          <button type="button">Update</button>
          <button type="button">Delete</button>
          <button type="button">Search</button>
        </div>
      </form>
    </div>
    <div class="image-container">
        <img src="https://images.pexels.com/photos/17483906/pexels-photo-17483906/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-represents-the-concept-of-artificial-general-intelligence-agi-it-was-created-by-domhnall-malone-as-part-of-the-visua.png?auto=compress&cs=tinysrgb&w=600" alt="Tool Image">
      </div>
  </div>
