<div class="container">
    <div class="form-container">
      <h1>Manage Customer</h1>
      <br>
      <form (ngSubmit)="manageCustomer()">
        <input type="text" id="customerId" placeholder="CustomerId" [(ngModel)]="customer.customerId" required >
        <input type="text" id="customerName" placeholder="CustomerName" required [(ngModel)]="customer.name">
        <input type="text" id="city" placeholder="City" required [(ngModel)]="customer.city">
        <input type="text" id="contact" placeholder="ContactNumber" required [(ngModel)]="customer.contact">

        <br><br>
        

        <div class="button-container">
          <button type="button">Add</button>
          <button type="button">Update</button>
          <button type="button">Delete</button>
          <button type="button">Search</button>
        </div>
      </form>
    </div>
    <div class="image-container">
        <img src="https://images.pexels.com/photos/220237/pexels-photo-220237.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Tool Image">
      </div>
  </div>