<div class="container">
    <div class="form-container">
      <h1>Manage Item</h1>
      <br>
      <form>
        <input type="text" id="itemId" placeholder="ItemId" required>
        <input type="text" id="itemName" placeholder="Item Name" required>
        <input type="text" id="rentalPerDay" placeholder="Rental Per Day" required>
        <input type="text" id="finePerDay" placeholder="Fine Per Day" required>
        <input type="text" id="availble" placeholder="Availble" required>

        <br><br>
        
        <div class="button-container">
          <button type="button">Add</button>
          <button type="button">Update</button>
          <button type="button">Delete</button>
          <button type="button">Search</button>
        </div>
      </form>
    </div>
    <div class="image-container">
        <img src="https://images.pexels.com/photos/5974048/pexels-photo-5974048.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Tool Image">
      </div>
  </div>